@import "normalize.css";

body {
    background-color: #f5f700;
    background-image: 
        linear-gradient(to right, rgb(189, 23, 23) 0%, rgba(255,255,255,0) 18%),
        linear-gradient(to left, rgba(189, 23, 23) 0%, rgba(255,255,255,0) 18%);
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    background-color: orange;
    background-image: 
        linear-gradient(to right, rgb(189, 23, 23) 0%, rgba(255,255,255,0) 18%),
        linear-gradient(to left, rgba(189, 23, 23) 0%, rgba(255,255,255,0) 18%);

}

button {
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-bottom: 3px solid black;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    &&:hover {
        background-color: rgba(128, 128, 128, 0.315);
    }
}

#content {
    width: 60%;
    justify-self: center;
    padding: 0.5rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    justify-self: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1rem;
    justify-self: center;
}

h3,
h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

h4 {
    justify-self: center;
}

p {
    margin-bottom: 1rem;
    text-align: justify;
}

span:nth-child(odd) {
    font-weight: 600;
}

img {
    width: 20rem;
    justify-self: center;
    margin: 0.5rem;
}

.contact {
    margin: 0.2rem;
    display: grid;
    grid-template-columns: 7rem 1fr;
    gap: 0.5rem;
    justify-self: center;
}